@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

body {
  background-color: black;
}
.custom-img {
  background-image: url('/landingpage/image1.jpg');
}

/* slider */

.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

@media screen and (min-width:600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  height: 100%;
}

.content {
  position: absolute;
  top: 50rem;
  left: 5rem;
  width: 50%;
  padding: 3rem;
  background: rgba(0,0,0,.3);
  animation: slide-up 2s ease .5s;
  animation-fill-mode: forwards;
  /* visibility: hidden; */
  /* opacity: 0; */
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 50rem;
  }
  100% {
    visibility: visible;
    top: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}

.content > * {
  color: white;
  margin-bottom: 1rem;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.current .current {
  opacity: 1;
}

.arrow {
  border: 2px solid wheat;
  border-radius: 50%;
  background: transparent;
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  top: 35%;
}

.arrow:hover {
  background: wheat;
  columns: #777;
}

.next {
  right: 1.5rem;
}

.prev {
  left: 1.5rem;
}

hr {
  height: 2px;
  background: wheat;
  width: 50%;
}

/* navbar */
.topnav {
  overflow: hidden;
  background-color: rgb(83, 228, 64);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
